<!doctype html>
<html>
<head>
    {% block head %}
    <title>Amazing Container Webservice</title>
    {% endblock %}
  </head>
    <h1>Container Facts</h1>
  <body>
    <img src="/static/container_blue.png" height="379" width="389"><br>
    <h2><div id="hostname">Processed by {{ hostname }}</div></h2>
    <h3>Facts:</h3>
      <ul>
        <li>Containers provide easy way to package code along with the environment to run the code</li>
        <li>Containers lend themselves well to microservices</li>
        <li>Containers can be run on VMs</li>
        <li>Containers are awesome!</li>
      </ul>
  </body>
</html>

